.tools-general {
  // .container-fluid{
  //     padding-right: 0;
  //     padding-left: 0;
  // }
  .personal-data-section-paragraph {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: -10px;
  }
  .mui-textfield {
    width: 350px;
    .MuiInputBase-input {
      height: 5px;
    }
    .MuiInputBase-root.Mui-disabled {
      background-color: silver;
    }
    .MuiInputLabel-formControl {
      top: -5px;
    }
  }
  .general-button-section {
    .edit-button {
      border-radius: 3x;
      background-color: #00a65a;
      color: #ffffff;
      font-size: 14px;
      border: none;
      width: 250px;
      padding: 10px;
    }
  }
  .rate-section {
    display: flex;
    flex-direction: column;
  }
  .tarrifs-text {
    color: black;
    font-weight: 800;
  }
  .all-user-info {
    padding: 20px;
    background-color: #ecf0f5;
  }
  .status-admin {
    width: 250px;
  }
}

.close-button {
  width: 300px;
  border-radius: 3px;
  margin: 5px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  padding: 10px;
  outline: none;
  background-color: #f0ad4e;
}

.save-button {
  width: 300px;
  border-radius: 3px;
  margin: 5px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  padding: 10px;
  outline: none;
  background-color: #00a65a;
}

.Mui-disabled{
    background-color: silver;
}
