.balance-info {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  form {
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #00db04;
    padding: 10px;
    margin-right: 20px;
    color: #ffffff;
  }
}

.balance-tables{
  margin-top: 25px;
  .MuiPaper-root{
    border: 1px solid ;
  }
  .MuiTableCell-root{
    border-right: 1px solid #000;
  }
}
