.tools-header {
    .tools-tabs {
        background-color: black;
        color: #ffffff;
        .MuiTab-textColorPrimary{
            color: #ffffff;
        }
        .MuiTab-textColorPrimary.Mui-selected{
            color: black !important;
            background-color: #ffffff !important;
        }
        .MuiTabs-indicator{
            background-color: green;
        }
       
    }
    .MuiBox-root{
        padding: 0 !important;
    }
    .tools-header-section{
        background-color: black;
        display: flex;
        justify-content: space-between;
        padding: 10px 10px 10px;
        .status-section{
            .balance-lable {
                color: #00db04;
                font-size: 18px;
            }
        }
        .photocontrol-status-section{
            // margin-left: 60px;
        }
        .car-and-phone-section{
            display: flex;
            flex-direction: column;
        }
        label{
            font-size: 18px;
            color: #ffffff;
        }
        p {
            font-size: 18px;
            color: red;
        }
        .user-info-section{
            margin-left: 30px;
            vertical-align: middle;
        }
        .user-avatar-img{
            border-radius: 50%;
            max-width: 80px;
        }
    }
}

.orders-header {
    .tab-history {
        .nav a.active{
            background-color: #00b63d !important;
            color: black;
        }
    }
}