.tools-header {
    .tools-tabs {
        background-color: black;
        color: #ffffff;
        .MuiTab-textColorPrimary{
            color: #ffffff;
        }
        .MuiTab-textColorPrimary.Mui-selected{
            color: black !important;
            background-color: #ffffff !important;
        }
        .MuiTabs-indicator{
            background-color: green;
        }
    }
}

.orders-header {
    .tab-history {
        .nav a.active{
            background-color: #00b63d !important;
            color: black;
        }
    }
}