.main-photocontrol {
    padding: 30px;
    .MuiPaper-root{
        margin-top: 30px;
    }
    .MuiFormControl-root {
        width: 300px;
        .MuiSelect-select {
            border: 1px solid #d2d6de;
            border-radius: 30px;
            color: green;
        }

        .MuiInputLabel-formControl {
            left: 20px;
        }

    }
    .MuiTableCell-body{
        border: 1px solid #000 ;
        padding: 5px 5px 0px 5px;
    }

    .selec-multiple {
        margin-left: 20px;
    }

    .search-box-input {
        border: 1px solid #d2d6de;
        border-radius: 30px;
        width: 300px;
        background-color: #ffffff;
        margin-left: 25px;
        padding: 0 30px;
        margin-top: 15px;
    }

    .search-loop {
        position: relative;
        top: 2px;
        left: 50px;
        z-index: 1;
    }

    .MuiTableRow-head {

        img {
            object-fit: contain;
            width: 32px;
            height: 22px;
        }

        .MuiTableCell-head {
            border: 1px solid #000 ;
            font-size: 11px;
            color: #00b63d;
        }
        .MuiTableRow-hover{
             border: 1px solid #000 ;
        }
        .MuiTableSortLabel-root{
            display: flex;
            flex-direction: column;
        }
       
    }
    .table-infomation-section{
        display: flex;
        justify-content: space-between;
    }

    .table-bod-car-mark, .year-section, .date-setion{
        font-size: 11px;
        font-weight: 500;
        margin: 0;
    }
}

.photo-control-table-body{
    img{
        object-fit: contain;
        height: 70px;
    }
}

.personal-data-section{
    .personal-data-section-paragraph{
        font-size: 18px;
        font-weight: bold;
    }
    .MuiInputBase-root{
        width: 300px;
        margin-bottom: 10px;
    }
}

.car-photocontrol-section{
    margin-top: 30px;
    .personal-data-section-paragraph{
        font-size: 18px;
        font-weight: bold;
    }
    .car-category-section{
        margin-bottom: 20px;
        display: flex;
        flex-direction: row ;
    }
}

.photocantrol-main-modal{
   .modal-dialog{
       margin-left: -1%;
   }
    .modal-content{
        width: 100vw;
    }
    .modal-footer{
        justify-content: center;
    }
}

.modal-section-row{
    display: flex;
    padding: 40px;
    .image-gallery-slides{
        height: 380px;
    }
}

.personal-data-header, .image-gallery-header{
    width: 50%;
}

.car-image-section{
    border: 2px solid #000;
    img{
        width: 130px;
        margin: 5px;
        object-fit: contain;
    }
}

.car-texnical-doc-header{
    display: flex;
    margin-top: 30px;
    .car-texnical-doc{
        margin: 10px;
        border: 2px solid #000  ;
        display: flex;
        img{
            object-fit: contain;
        }
    }
}

.photo-control-header{
    display: flex;
    margin-bottom: 30px;
    .edit-icon-section{
        font-size: 24px;
        font-weight: bold;
        margin: 0;
    }
    .edit-icon-button{
        border: none;
        outline: none;
        background-color: transparent;
        margin-left: -30px;
        width: 50px;
        height: 50px;
        .edit-icon-svg{
            height: 30px;
            width: 30px;
            path {
                fill:#00b63d;
            }
        }
        .close-icon-svg{
            height: 30px;
            width: 30px;
            path {
                fill: red;
            }
        }
    }
}

.button-section{
    width: 1000px;
    position: relative;
    left: 370px;
    top: 40px;
    button{
        width: 300px;
        border-radius: 3px;
        margin: 5px;
        border: 1px solid transparent;
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;
        padding: 10px;
        outline: none;
    }
    .success-button{
        background-color: #00b63d;
        &:disabled{
            background-color: #00a65a;
        }
    }
    .cancle-button{
        background-color: red;
    }
    
    .close-button{
        background-color: #f0ad4e;
    }
}
