.detail-order-main-model {
    .main-model-header {
        background-color: black;
        min-height: 50px;
        a {
            margin: 10px;
        }
    }

    .text-field-material {
        margin: 10px;
    }

    .modal-footer {
        border-top: unset;
    }

    .main-orders-form {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .active {
        color: #ffffff;
        font-weight: 700;
        border-bottom: 2px solid #00b63d;

        &:hover {
            color: #ffffff;
            font-weight: 700;
        }
    }

    .section-link {
        cursor: pointer;
        font-weight: 400;
        color: #fff;
        &:hover {
            color: #ffffff;
            font-weight: 700;
        }
    }

    .orders-buton-section{
        margin-top: 20px;
        
        button{
            margin: 5px;
             border: none;
            border-radius: 3px;
            color: #ffffff;
            font-size: 12px;
            padding: 10px;
        }

        .cancle{
            background-color: #d9534f;
        }
        .in-place, .on-the-way, .on-the-way{
            background-color:  #00b63d;
        }
    }
}

.tarif-zone-and-status{
    display: flex;
    justify-content: space-around;
    div{
        width: 200px;
    }
}
.category-section{
    display: flex;
    justify-content: space-around;
    div{
        width: 200px;
    }
}

.category-third-parth{
    display: flex;
    justify-content: center;
}

.categroy-tarif{
    display: flex;
    flex-direction: column;
}

.category-second-part{
    margin-top: 20px;
    border-top: 1px solid #00b63d
}

.category-section-first-parth{
    border-top: 1px solid #00b63d;
    border-bottom: 1px solid #00b63d;
}